<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/styles.css" th:href="@{/css/styles.css}" type="text/css" media="all"  >
    <title>My app's Contracts</title>
</head>
<body>
<header>
    <nav>
        <span id="file">File</span>
        <span id="edit">Edit</span>
        <span id="view">View</span>
        <span id="help">Help</span>
        <span id = "nameList">Contracts</span>
    </nav>
</header>
<main>
    <section class = "rightPanel">
        <article class  = "search">
            <form>
                <input type="search" name = "q" placeholder = "Search query" id="inpform">
            </form>
        </article>
        <article class = "list">
            <a href="../clients" id="cliets">Clients</a>
            <a href="../contracts" id="contracts">Contracts</a>
            <a href="../equpments" id="equpments">Equpiments</a>
            <a href="../firstContracts" id="firstCon">First contacts</a>

            <article class="buttons">
                <form>
                    <button type="submit" id="load">Load data</button>
                    <button type="submit" id="save">Save data</button>
                </form>
            </article>
        </article>
    </section>
    <section class="table">

        <table>
            <tr>
                <td>№</td>
                <td>Name</td>
                <td>Relevance</td>
                <td>fDate</td>
                <td>lDate</td>
                <td>Price</td>
                <td>Equipments</td>
            </tr>
            <div th:each="contract :${contracts}">
            <tr>
                <td th:text="${contract.GetId()}">1</td>
                <td th:text="${contract.GetCompName()}">Name</td>
                <td th:text="${contract.GetRelevance()}">Relevance</td>
                <td th:text="${contract.GetFDate()}">fDate</td>
                <td th:text="${contract.GetLDate()}">lDate</td>
                <td th:text="${contract.GetPrice()}">Price</td>
                <td th:text="${contract.GetEquipments()}">Equipments</td>
            </tr>

            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            </div>
        </table>

    </section>
</main>
</body>
</html>