<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/styles.css" th:href="@{/css/styles.css}" type="text/css" media="all"  >
    <title>My app</title>
    <!-- Только CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script> <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>


</head>
<script type="text/javascript">

    var app = angular.module("CREATE_DEVICE",[]);
    app.controller("CREATE_DEVICE_CTRL", function($scope, $http){
        console.log("check");
        $scope.devices = [];
        $scope.eddevid = 13;

        $scope.getDevice = function(){
            $http({
                url: '/newequpments',
                method: 'GET',
            }).then(resp=>{
                $scope.devices = resp.data;
                console.log(resp.data);
            });
        }
        $scope.searchDevice = function(){
            $http({
                url: '/equpments1?name='+$scope.search,
                method: 'GET',
            }).then(resp=>{
                console.log('/equpments1?name='+$scope.search);
                $scope.devices = resp.data;
            });
        }

        $scope.getPdf = function(){
            $http({
                url: '/equpments/topdf',
                method: 'GET',
            });
        }

        $scope.getDevice();
        $scope.delete = function(devic){
            $http.delete("/equpments/del/" + devic.id).then(devices=>{
                let ix = $scope.devices.map(devic=>devic.id).indexOf(devic.id);
                $scope.devices.splice(ix,1);

            });
        }
        $scope.saveDevice = function(){
            if($scope.device.name != null && $scope.device.name !="") {
                if($scope.device.price!=null && $scope.device.price!=0){
                    if($scope.device.count!= null && $scope.device.count!=0){
                        $http({
                            url: '/add_device',
                            method: 'POST',
                            data: {
                                id: $scope.device.id,
                                name: $scope.device.name,
                                price: $scope.device.price,
                                countSale: $scope.device.count,
                                contract: null,
                            }
                        }).then(function (response) {
                            console.log(response);
                            $scope.getDevice();
                        });
                    }else{
                        alert("Вы оставили важные поля пустыми!3");
                    }
                }else{
                    alert("Вы оставили важные поля пустыми!2");
                }
            }else{
                alert("Вы оставили важные поля пустыми!1");
            }
        }
        $scope.s = function(devic){
            $scope.eddevid = devic.id;
        }
        $scope.edit = function(){
            $http
            ({
                url:"/equpments/ed/" + $scope.eddevid,
                method:'PUT',
                data:{
                    id: $scope.eddevid,
                    name: $scope.eddevice.name,
                    price: $scope.eddevice.price,
                    countSale: $scope.eddevice.count,
                    contract: null,
                }
            }).then(function (response) {
                console.log(response.data);
                $scope.getDevice();
            });
        }
    });

</script>
<body ng-app="CREATE_DEVICE" ng-controller="CREATE_DEVICE_CTRL">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Function
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><button type="button" class="dropdown-item" ng-click="topCount()">Top count</button></li>
                            <li><button type="button" class="dropdown-item" ng-click="topSumm()">Top summ</button></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
        <span id = "nameList">Equipments</span>
        <form class="d-flex" id="search">
            <input ng-model="search" type="search" name = "q" placeholder = "Search query" class="form-control me-2" aria-label="readonly input example">
            <button class="btn btn-primary me-4" type="submit" ng-click="searchDevice()"> Go! </button>
        </form>
    </nav>

</header>
<main>
    <section class = "rightPanel" row="col-xl" >

        <article class = "list">
            <a href="../clients" id="cliets">Clients</a>
            <a href="../contracts" id="contracts">Contracts</a>
            <a href="../equpments" id="equpments">Equipments</a>
            <a href="../firstContacts" id="firstCon">First contacts</a>

            <article class="buttons">
                <form>
                    <button type="submit" id="save" ng-click="getPdf()">Save data</button>
                </form>
            </article>
        </article>
    </section>
    <section class="table1">
            <div class="d-flex justify-content-end">
            <table class="table">
            <thead class="thead-dark">

            <tr>
                <th>№</th>
                <th>Name</th>
                <th>Price</th>
                <th>CountSale</th>
                <th>TotalSumm</th>
                <th>Contract</th>
                <th>Buttons</th>
            </tr>

            </thead>

            <tr ng-repeat="devic in devices track by $index" >
                <td>{{$index+1}}</td>
                <td >{{devic.name}}</td>
                <td >{{devic.price}}</td>
                <td >{{devic.countSale}}</td>
                <td >{{devic.totalSumm}}</td>
                <td>{{devic.contracts}}</td>
                <td >
                    <button ng-click="delete(devic)" type="button">
                        Удалить
                    </button>
                    <button ng-click="s(devic)" type="button">
                        <a href="#zat">Редактировать</a>
                    </button>
                </td>
            </tr>

            <tr>
                <div class="row">
                <form>
                    <td></td>
                    <td class="mai">
                        <input ng-model="device.name" type="text" id = "deviceName" placeholder = "Search Name" >
                    </td>
                    <td class="mai">
                        <input ng-model="device.price" type="text" id = "devicePrice" placeholder = "Search Price" >
                    </td >
                    <td class="mai">
                        <input ng-model="device.count" type="text" id = "deviceCount" placeholder = "Search Count Sale" >
                    </td>
                    <td>
                    </td>
                    <td class="mai">
                        <input type="text" name = "q" placeholder = "Search query" >
                    </td>
                    <td class="mai">
                        <button type="button" ng-click="saveDevice()">Добавить</button>
                    </td>
                </form>
                </div>
            </tr>

        </table>
            </div>

        <div id="zat">
        <div id="form">

            <table class="table">
                <tr>
                    <td >Name</td>
                    <td >Price</td>
                    <td >CountSale</td>
                    <td >TotalSumm</td>
                    <td >Contract</td>
                </tr>
                <tr><form>

                    <td>
                        <input ng-model="eddevice.name" type="text" id = "eddeviceName" placeholder = "Search Name" >
                    </td>
                    <td>
                        <input ng-model="eddevice.price" type="text" id = "eddevicePrice" placeholder = "Search Price" >
                    </td>
                    <td>
                        <input ng-model="eddevice.count" type="text" id = "eddeviceCount" placeholder = "Search Count Sale" >
                    </td>
                    <td>

                    </td>
                    <td>
                        <input type="text" name = "q" placeholder = "Search query" >
                    </td>

                </form>
                </tr>
            </table>
            <a href="#" class="close"><button type="button" class="btn-close" aria-label="Close"></button></a>

            <button ng-click="edit()" type="button">
                Редактировать
            </button>
        </div>
        </div>
    </section>
</main>
</body>
</html>