<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/mainpage.css" th:href="@{/css/mainpage.css}" type="text/css" media="all"  >
    <title>My app</title>
</head>
<body>
    <header>
        <nav>
            <span id="file">File</span>
            <span id="edit">Edit</span>
            <span id="view">View</span>
            <span id="help">Help</span>
            <span id = "nameList">Statr Page. Select category.</span>
        </nav>
    </header>
    <main>
        <section class = "rightPanel">
            <article class  = "search">
                <form>
                    <input type="search" name = "q" placeholder = "Search query" id="inpform">
                </form>
            </article>
            <article class = "list">
                <a href="../clients" id="cliets">Clients</a>
                <a href="../contracts" id="contracts">Contracts</a>
                <a href="../equpments" id="equpments">Equpments</a>
                <a href="../firstContacts" id="firstCon">First contacts</a>

                <article class="buttons">
                    <form>
                        <button type="submit" id="load">Load data</button>
                        <button type="submit" id="save">Save data</button>
                    </form>
                </article>
            </article>
        </section>

    </main>
</body>
</html>