<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/styles.css" th:href="@{/css/styles.css}" type="text/css" media="all"  >
    <title>My app</title>
</head>
<body>
    <header>
        <nav>
            <span id="file">File</span>
            <span id="edit">Edit</span>
            <span id="view">View</span>
            <span id="help">Help</span>
            <span id = "nameList">Name Table</span>
        </nav>
    </header>
    <main>
        <section class = "rightPanel">
            <article class  = "search">
                <form>
                    <input type="search" name = "q" placeholder = "Search query" id="inpform">
                </form>
            </article>
            <article class = "list">
                <button id="cliets">Clients</button>
                <button id="contracts">Contracts</button>
                <button id="equpments">Equpments</button>
                <button id="firstCon">First contacts</button>

                <article class="buttons">
                    <form>
                        <button type="submit" id="load">Load data</button>
                        <button type="submit" id="save">Save data</button>
                    </form>
                </article>
            </article>
        </section>
        <section class="table">
            <table>
                <tr>
                    <td>№</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Count Sale</td>
                    <td>Total Summ</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Name1</td>
                    <td>Price1</td>
                    <td>Count Sale1</td>
                    <td>Total Summ1</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Name2</td>
                    <td>Price2</td>
                    <td>Count Sale2</td>
                    <td>Total Summ2</td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>